.calculator {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: grey;
}

#display {
    width: 98%;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
}

.actionButtons button {
    width: 19%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.sciButtons button {
    width: 24%;
    margin: 3px;
    padding: 12px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.bottomButtons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number {
    margin: 3px;
    width: 19%;
    padding: 25px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    width: 19%;
    margin: 3px;
    padding: 25px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.functional {
    width: 19%;
    padding: 25px;
    margin: 3px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#ansbutton{
    background-color: orange;
}
#delbutton{
    background-color: rgb(208, 80, 6);
}
#acbutton{
    background-color: yellow;
}

